<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <LINK REL=StyleSheet HREF="../public/css/style.css" TYPE="text/css" >
    <title>Bienvenido</title>
</head>
<body>
<header>
    <h1>Bienvenido</h1>
</header>